.notificationWrapper
  display flex
  width 150px
  position absolute
  top 60px
  right 10px
  padding 15px
  background-color: white
  z-index 10
  border-radius: 4px
  box-shadow 0 0 6px rgba(0,0,0,0.25)
  font-size 12px

.successNotification
  background-color rgb(233, 246, 238)

.errorNotification
  background-color: rgb(253, 191, 191)
