.loginWrapper
  .loginMain
    p.authTitle Авторизация
    .inputBlock
      form(id='loginForm')
        | !{ email }
        .notFirst
          | !{ password }
        .loginButton
          | !{ button }
  
  .register
    | !{ link }
