@require('../../static/')

.inputWrapper
  margin 16px 0
  display flex
  flex-direction column
  flex 1

.inputLabel
  font-size 16px
  color $black

.input
  border-width 1px
  border-style solid
  border-color $lightGray
  border-radius 5px
  height 40px
  margin-top 8px
  color $black
  padding-left 12px
  padding-right 12px
