@require('../../static/')

.registerRoot
  width 468px
  margin-bottom 36px

.registerMain
  border-width 2px
  border-style solid
  border-color $lightGray
  border-radius $radius
  padding 30px

.authTitle
  font-size 32px
  line-height 40px
  font-weight 500

.inputBlock
  margin-top 36px

.signin
  margin-top 24px
  margin-right 30px
  text-align right
