.modalWrapper
  .modal
    .closeButton
      | !{ close }
    p.modalTitle= title
    .selectFileButton
      .seacrhInputButton
      p Имя чата
      .nameInput
        | !{ nameInput }
      | !{ button }
