@import('../../static/')

.modalWrapper
  display none
  width 100%
  height 100%
  background-color rgba(0, 0, 0, 0.24)
  position absolute
  left 0
  top 0
  align-items center
  justify-content center

.modal
  width 456px
  padding 48px 24px
  background-color $white
  border-radius 5px

.modalTitle
  font-size 16px
  font-weight bold
  text-align center

.selectFile
  position relative
  overflow hidden
  margin-bottom 88px

.selectFileInput
  color $green
  text-decoration underline
  background-color $white
  border-width 0px
  font-size 16px
  text-align center
  margin 0 auto 
  display flex
  cursor pointer

.selectInput
  position absolute
  top 0
  right 0
  min-width 100%
  min-height 100%
  opacity 0
  cursor pointer

.closeButton
  display flex
  justify-content flex-end
  position relative
  top -20px

.inputSelect
  padding: 10px
  margin 0 auto 
  border-width 0
  text-align center

.inputSelect::file-selector-button
  display: none

.inputSelect::before
  color $green
  text-decoration underline
  background-color $white
  border-width 0px
  font-size 16px
  text-align center
  margin 0 auto 
  display flex
  cursor pointer
  content: attr(value)''
