.modalWrapper(id='uploadFileModal')
  .modal
    .closeButton
      | !{ close }
    p.modalTitle Загрузить файл
    .selectFileButton
      .selectFile
        input.inputSelect(id='avatarUpload' type='file' name='avatar' accept='image/*' value="Выбрать файл на компьютере")
      | !{ button }
