@require('../../static/')

.inputProfileWrapper
  display flex
  flex-direction row
  justify-content space-between
  margin 16px 0

.inputProfileLabel
  display flex
  font-size 14px
  color $black
  align-items center

.inputErrorWrapper
  width 60%

.inputProfile
  width 100%
  border-bottom-width 1px
  border-bottom-style solid
  border-bottom-color $lightGray
