@import '../../static/index.styl'

.wrapper
  width 840px
  margin 36px auto

.information
  width 560px
  border 2px solid $lightGray
  border-radius $radius
  margin-top 16px
  margin-left 140px

.userData
  padding 32px 76px

.avatar
  display flex
  flex-direction column
  align-items center

.profileEdit
  margin-bottom 30px
  text-align center
  font-size 18px

.inputBlock
  margin-top 30px

.changeButtons
  display flex
  flex-direction row
  justify-content space-between
  margin-top 66px

.logoutButtonBlock
  margin-top 32px
