@import '../../static/index.styl'

.backButtonWrapper
  text-decoration none

.backButton
  display flex
  flex-direction row
  align-items center

.backLabel
  margin-left 10px
  font-size 14px
  font-weight bold
  color $green

.backIcon
  width 28px
  height @width
  background-image url('../../icons/backIcon.png')
