@import('../../static/')

.sendMessageWrapper
  display flex
  flex-direction column
  background-color $white

.paperclipIcon
  color $gray
  width 28px
  height @width
  background-image url('../../icons/paperclipIcon.svg')

.addFileBlock
  display flex
  flex-direction row
  justify-content space-between
  width 100%
  margin-top 20px

.sendIcon
  width 28px
  height @width
  transform rotate(180deg)
  background-image url('../../icons/backIcon.svg')

.error
  margin-top 2px
  font-size 11px
  display block
  height 20px
  color $white

.show
  color $red
