@import('../../static/')

.sendMessageWrapper
  display flex
  flex-direction column
  background-color $white

.addFileBlock
  display flex
  flex-direction row
  justify-content space-between
  width 100%

.error
  margin-top 2px
  font-size 11px
  display block
  height 20px
  color $white

.show
  color $red
