@require('../../static/')

.chatsWrapper
  display flex
  flex-direction row
  width 100%

.chatsList
  width 310px
  padding 10px
  border-right 1px solid $lightGray

.chatWrapper
.sendBlock
  border-top 1px solid $lightGray

.chatWrapper
  margin-top 12px

.searchWrapper
  display flex
  flex-direction row
  justify-content space-between

.myProfile
  display flex
  flex-direction row
  align-items center

.angleIcon
  color $green
  margin-left 10px

.chatChoosed
  margin 0 auto
  display flex
  align-self center

.selectChat
  font-size 14px
  color $gray

.chatBlock
  flex 1

.chatHeaderBlock
  padding 12px 0 
  margin 0 10px
  border-bottom 1px solid $lightGray

.chatData
  padding 16px 24px

.chatDate
  text-align center
  color $gray
  font-size 14px
  font-weight 600

.messagesBlock
  margin-top 36px
  height 60vh
  flex 1

.sendBlock
  flex-basis 4rem
  