@import('../../static/')

.chatsWrapper
  display flex
  flex-direction row
  width 100%
  height 75vh

.chatsListWrapper
  height 100%

.chatsList
  width 350px
  height 100%
  padding 10px 0
  border-right 1px solid $lightGray

.chatWrapper
.sendBlock
  border-top 1px solid $lightGray

.chatWrapper
  margin-top 12px
  height 100%
  overflow-y scroll

.searchWrapper
  display flex
  flex-direction row
  justify-content space-between
  padding 0 10px

.myProfile
  display flex
  flex-direction row
  align-items center
  margin-left 7px

.angleIcon
  color $green
  margin-left 10px

.chatChoosed
  margin 0 auto
  align-self center

.selectChat
  font-size 14px
  color $gray
  text-align center

.chatBlock
  flex 1

.chatHeaderBlock
  padding 12px 0
  margin 0 10px
  border-bottom 1px solid $lightGray

.chatData
  padding 16px 24px

.chatDate
  text-align center
  color $gray
  font-size 14px
  font-weight 600

.messagesBlock
  margin-top 36px
  height 54vh
  flex 1
  overflow-y scroll

.sendBlock
  flex-basis 4rem

.createChat
  margin 15px 10px 0 10px

.messageContent
  margin-bottom 32px
