@require('../../static/')

.chatHeader
  display flex
  flex-direction row
  align-items center
  justify-content space-between

.userInformation
  display flex
  flex-direction row
  align-items center

.chatUserName
  font-size 14px
  font-weight 600
  margin-left 12px

.barsIcon
  width 30px
  height @width
  color $green 
  align-items center
