.avatarWrapper
  display flex
  border-radius 130
  border 0
  background-color white

.avatarUserName
  text-align center
  margin 4px 0 0
  font-size 14px
  font-weight 500

.img
  border-radius 130
  margin-left -6px
