$green = #53aa7e
$lightGreen = rgba(83, 170, 126, 0.1)
$black = #333333
$red = #ff0000
$white = #fff
$gray = #7b7b7b
$lightGray = #eaeaea
$radius = 5px

p
  margin 0
  color $black

a
button
  cursor pointer

label
input
  color $black
