$green = #53AA7E
$lightGreen = rgba(83, 170, 126, 0.1)
$black = #333333
$red = #FF0000
$white = #fff
$gray = #7B7B7B
$lightGray = #EAEAEA
$radius = 5px
  
p
  margin 0
  color $black

a
button
  cursor pointer

label
input
  color $black
