@import('../../static/')

.messageWrapper
  padding 12px
  border-radius 5px
  background-color $lightGreen
  max-width 520px
  width fit-content

  &.right
    margin 32px 0 0 auto

.messageText
  font-size 14px
  line-height 18px

.messageDate
  font-size 10px
  text-align right
  margin-top 10px
